<main>
    <div class="stickers">
        <span class="asd"  style="background-image: url('/assets/img/about-me/Ripped-paper-yellow.svg')">
            <img style="rotate: -5deg;"  src="/assets/img/about-me/location.svg" alt="">
            <p style="transform: translateY(-10px); rotate: -5deg;">
                Based in Salzgitter
            </p>
        </span>
        <span class = 'asd' style="background-image: url('/assets/img/about-me/Ripped-paper-blue.svg')">
            
            <img src="/assets/img/about-me/relocation.svg" alt="">
            <p>
                Open to relocate
            </p>        
        </span>
        <span class = 'asd' style="background-image: url('/assets/img/about-me/Ripped-paper-orange.svg')"> 
            
            <img style="rotate: 6deg;" src="/assets/img/about-me/remote.svg" alt="">
            <p style="transform: translateY(16px); rotate: 6deg;">
                Open to work from home
            </p>
        </span>
    </div>
    <div class="aboutDiv">
        <div class="who">
            <p>Who's Hyusein</p>
            <h2>About Me</h2>
        </div>
        <p>Hi there! I'm Karl, a frontend developer passionate about creating 
            intuitive and efficient digital experiences. With a natural problem-solving 
            mindset and a keen eye for detail, I specialize in transforming complex concepts 
            into visually appealing and functional web solutions. <br> <br>
            Let’s collaborate and build something remarkable together!
        </p>
        <div style="display: flex;justify-content: flex-end">
            <div class="btn_main btn-letsTalk">Let's Talk</div>
        </div>
    </div>
</main>