<main>
  <app-header>
    <app-navbar></app-navbar>
  </app-header>
  <div class="content-main">
    <div class="upperWrapper">
      <div class="leftWrapper">
        <div class="animate-hand">
          <img
            class="waving_hand"
            src="/assets/img/hero-images/waving_hand.svg"
            alt=""
          />
          <button>
            <span>Hello World</span>
          </button>
        </div>
        <span>
          <p>F</p>
          <p>r</p>
          <p>o</p>
          <p>n</p>
          <p>t</p>
          <p>e</p>
          <p>n</p>
          <p>d</p>
        </span>
      </div>
      <img src="/assets/img/hero-images/hero_photo.svg" alt="" />
    </div>
    <div></div>
  </div>
</main>
