<main>
  <app-header>
    <app-navbar></app-navbar>
  </app-header>
  <div class="content-main">
    <div class="upperWrapper">
      <div class="leftWrapper">
        <div class="animate-hand">
          <img
            class="waving_hand"
            src="/assets/img/hero-images/waving_hand.svg"
            alt=""
          />
          <button>
            <span>Hello World</span>
          </button>
        </div>
        <span>
          <p class="toLowercase">F</p>
          <p class="toUpperCase">r</p>
          <p class="toUpperCase">o</p>
          <p class="toUpperCase">n</p>
          <p class="toUpperCase">t</p>
          <p class="toUpperCase">e</p>
          <p class="toUpperCase">n</p>
          <p class="toUpperCase">d</p>
        </span>
      </div>
      <img src="/assets/img/hero-images/profilePic.jpg" alt="" />
    </div>
    <div class="lowerWrapper">
        <span>
            <p class="toLowercase">D</p>
            <p class="toLowercase">E</p>
            <p class="toLowercase">V</p>
            <p class="toLowercase">E</p>
            <p class="toLowercase">L</p>
            <p class="toLowercase">O</p>
            <p class="toLowercase">P</p>
            <p class="toLowercase">E</p>
            <p class="toLowercase">R</p>
          </span>
          <div class="btn_main">
            <a href="http://" target="_blank" rel="noopener noreferrer">Get in touch</a>
          </div>
          <div class="links">
            <a href=""><img src="/assets/img/hero-images/git.svg" alt=""></a>
            <a href=""><img src="/assets/img/hero-images/mail.svg" alt=""></a>
            <a href=""><img src="/assets/img/hero-images/linkd.svg" alt=""></a>
          </div>
    </div>
   
  </div>
</main>
